/*body*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white}
/*header*/
.header{
        height: 80px;
        width: 100%;
        background-color: #333;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;

        .left_part{
            margin-left: 20px;

            img{
                height: 60px;
                width: auto;
            }
        }

        .right_part{
            margin-right: 20px;
            display: flex;
            gap: 10px;

            a{
                color: white;
                text-decoration: none;
                font-size: 18px;

                &:hover{
                    text-decoration: underline;
                }
            }   

        }   
}
/*menubar*/
.menubar{
        height: 50px;
        width: 100%;
        background-color: #555;
        color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;

        .left_part{
            margin-left: 20px;

            .dropdown{
                position: relative;
                display: inline-block;

                a{
                    color: white;
                    text-decoration: none;
                    font-size: 18px;

                }
            }
        }

        .right_part{
            margin-right: 20px;

            a{
                color: white;
                text-decoration: none;
                font-size: 18px;

                &:hover{
                    text-decoration: underline;
                }
            }   
        }   
}

